[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
babel = "*"
pyinstaller = "*"
pytest = "*"
pbr = "*"
tox = "*"
flake8 = "*"
pytest-cov = "*"
pylint = "*"
codecov = "*"

[packages]
pygubu = "*"
ttkthemes = "*"
codecov = "*"

[requires]
python_version = "3.6"

[scripts]
app = "python ."
test = "pytest -vv -s"
cov = "pytest --cov=templatizator tests"
lint = "pylint templatizator && flake8 templatizator"
lintw = "cmd /c 'pylint templatizator && flake8 templatizator'"
build = [
  "pyinstaller",
  "--add-data=templatizator/presentation/interface.ui;templatizator/presentation",
  "--hidden-import=tkinter",
  "--onedir",
  "--noconsole",
  "--name=templatizator",
  "-y",
  "__main__.py"
]
babelextract = "setup.py extract_messages"
babelcompile = "setup.py compile_catalog"
